<div class="center">


  <div class="row">
    
    <div class="col s12 m4">
        <i class="material-icons home-subtitles medium blu-grey-text text-darken-3">library_books</i>
        <h5>Scopri contenuti unici</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="col s12 m4">
        <i class="material-icons home-subtitles medium blu-grey-text text-darken-3">motorcycle</i>
        <h5>Acquista velocemente</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="col s12 m4">
        <i class="material-icons home-subtitles medium blu-grey-text text-darken-3">library_add</i>
        <h5>Vendi i tuoi contenuti</h5>
        <p>WLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  
  </div>

</div>
